<div class="row">
  <div *ngIf="response.results">
    <div class="col s4">

      <div class="row center-align">
        <h3>Negative :</h3>
      </div>
      <div class="row center-align red-text">
        <h3>{{response.results[1]}}%</h3>
      </div>
    </div>

    <div class="col s4">
      <div class="row center-align">
        <h3>Neutral :</h3>
      </div>
      <div class="row center-align">
        <h3>{{response.results[0]}}%</h3>
      </div>
    </div>

    <div class="col s4">
      <div class="row center-align">
        <h3>Positive :</h3>
      </div>
      <div class="row center-align green-text">
        <h3>{{response.results[2]}}%</h3>
      </div>
    </div>
  </div>
</div>