<div class="row">
    <div class="col s12">
      <div class="center-align row">
        <h3>TOP 10 Concepts :</h3>
      </div>
    <div class="row">
          <span *ngFor="let con of response.concepts" class="concept">{{con}}</span>
    </div>
    </div>
  </div>