<footer class="page-footer orange">
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="orange-text text-lighten-3" href="#">Jean BILSKI</a>
    </div>
  </div>
</footer>