<div class="row">
  <div class="col s12 m12">
    <div class="card  blue-grey lighten-5">
      <div class="card-content">
        
        <p>
          timeslice works!
        </p>

      </div>
    </div>
  </div>
</div>