<div class="row">
        <div class="col s12 m12">
          <div class="card  blue-grey lighten-5">
            <div class="card-content">

                <app-score-average [response]="response"></app-score-average>

                <hr>

                <app-sentiments [response]="response"></app-sentiments>

                <hr>

                <app-concepts [response]="response"></app-concepts>

            </div>
        </div>
    </div>
</div>