<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Discovery News</h1>
    <div class="row center">
      <h5 class="header col s12 light">Infuse your applications with news made smarter by Watson.</h5>
    </div>

    <br>

    <app-search (search)="onSearch($event)"></app-search>

    <br><br>

    <app-overview [response]="res"></app-overview>

    <app-timeslice></app-timeslice>

    <app-articles></app-articles>

  </div>
</div>