<div class="row">
  <div class="input-field col offset-s2 s7">
    <i class="material-icons prefix">search</i>
    <input id="icon_prefix" type="text" class="validate" [(ngModel)]="keyword" (keyup.enter)="searchKeyword()">
    <label for="icon_prefix">Search</label>
  </div>
  <div class="col s2" >
    <a href="#" id="download-button" class="btn-large waves-effect waves-light orange" (click)="searchKeyword()">Search</a>
  </div>
</div>
